.video_box{
    position: relative;
    top:2vh;
    border-radius: 4rem;    
    width:98%;
    left:auto;
    right:auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aquamarine; */
    height: 68vh;
    
}